<?xml version="1.0" encoding="UTF-8"?>
    <configuration debug="false" scan="true" scanPeriod="300 seconds">
        <contextName>managesystem</contextName>
     <!--    <property name="log.path" value="e:\\logback.log" /> -->
        
	    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	        <!-- <filter class="com.example.logback.filter.MyFilter" /> -->
	        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	              <level>INFO</level>
	        </filter>
	        <encoder>
	            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n
	            </pattern>
	        </encoder>
	    </appender>
        
        
    <appender name="file"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/applog/managesystem.log</file>
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	        <level>INFO</level>
	    </filter>        
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
		  <!-- 每天一归档 -->
		  <fileNamePattern>/var/log/applog/managesystem-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		   <!-- 单个日志文件最多 50MB, 90天的日志周期，最大不能超过2GB -->
		   <maxFileSize>50MB</maxFileSize>
		   <maxHistory>90</maxHistory>
		   <totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>

        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
        
	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
   </configuration>